@import '~stylesheets/utilities/breakpoints';

.sidebar {
  width: 0;
  transform: translate3d(-210px, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.04) -1px 0px 2px inset;
  background: #f8f7f5;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform;
  height: 100vh;

  &--open {
    transform: translate3d(0, 0, 0);
    min-width: 240px;
    width: 210px;
  }

  &__inner {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }

  &__navigation {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @media (max-width: 780px) {
    box-shadow: inset rgba(84, 70, 35, 0.3) 0px 0px 12px;
  }
}

.sidebar-item {
  padding: 8px 32px;
  font-size: 14px;
  color: rgb(119, 119, 119);
  font-weight: normal;

  &--active {
    color: rgb(68, 68, 68);
    font-weight: 600;
  }
}
